{% extends "layout.html" %}
{% block body %}
<!-- Past events -->
<title>Feeback - {{ event.name }}</title>
<div class="container" style="margin-top:40px">
	<div class="row justify-content-md-center">
		<div class="col text-center" style="margin-bottom:20px"><h2>{{ event.name }}</h2></div>
	</div>
	<div class="row justify-content-md-center">
		<div class="col-lg-6">
			<div class="card" style="margin-bottom:20px">
				<div class="card-block">
					<h4>{{ event.date.strftime('%a, %b %d, %Y') }} (about {{ event.get_natural('d') }})</h4>
					<h6>{{ event.get_shorttime(0) }} to {{ event.get_shorttime(1) }} (about {{ event.get_natural('t') }})</h6>
					<p><strong>{{ event.desc }}</strong> - {{ event.info }}</p>
					<h4>Techs:<br>
						{% for user in event.users + event.usersPreferred %}
						<span class="badge badge-default">{{ user.fname }} {{ user.lname }}</span>
						{% endfor %}
					</h4>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card" style="margin-bottom:20px">
				<div class="card-block">
					<form action="" method=post>
						<div class="form-group">
							<label for="fbTime">Actual time worked:</label>
							<input type="text" class="form-control" name="fbTime">
						</div>
						<div class="form-group">
							<label for="fbRole">Your role:</label>
							<textarea class="form-control" name="fbRole" rows="3"></textarea>
						</div>
						<div class="form-group">
							<label for="fbEquip">Equipment you used:</label>
							<textarea class="form-control" name="fbEquip" rows="3"></textarea>
						</div>
						<div class="form-group">
							<label for="fbProblems">Problems and concerns:</label>
							<textarea class="form-control" name="fbProblems" rows="3"></textarea>
						</div>
						<div class="form-group">
							<label for="fbThoughts">Thoughts for next time:</label>
							<textarea class="form-control" name="fbThoughts" rows="3"></textarea>
						</div>
						<button class="btn btn-primary btn-block">Submit Feedback</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
