{% extends "layout.html" %}
{% block body %}
    <!-- Past events -->
<title>Feedback - Media Services</title>

{% for event in fbNeededFor %}
<p><a href="/feedback/{{ event.id }}">{{ event.name }}</a></p>
{% endfor %}

<script>
	//$(window).load(function(){ socket.emit("getFBNeeded") })
	var data = [];
	
	currentPage = "pastevents";
	socket.on('sendFBNeeded', function(sent) {
		$("#fbcontainer").html("");
		data = sent;
		var msg = "You're caught up!";
		if (data.length > 0) {
			msg = "Please send feedback for:";
		}
		var template = "<h2>"+msg+"</h2>";
		for (event in data) {
			template += "<h4><a href=\"/feedback/"+data[event].id+"\">"+data[event].name+"</a></h4>"
		}
		$(template).appendTo("#fbcontainer");
	});
</script>
{% endblock %}
