{% extends "layout.html" %}
{% block body %}
{% set phone = usr.formatPhone() %}
<title>{{ usr.fname }} {{ usr.lname }} - Media Services</title>
<div class="container">
		<table class="table">
		<tr>
			<td><img src="https://my.gcc.edu/icsfileservershare/icsphotos/{{ usr.gccid }}.jpg" class="img-rounded" height="150"></td>
			<td><h2>{{ usr.fname}} {{ usr.lname }}</h2><a href="mailto:{{ usr.email }}">{{ usr.email }}</a><br>
			
			</td>
		</tr>
		</table>
		
		<table class="table">
		{% if g.user.id == usr.id %}
		<tr>
			<td style="vertical-align:middle"><b>Password:</td>
			<td><b>********</b></td>
			<td>
				<button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#chgpwd">Change Password</button>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">
				<b>Phone:</b>
			</td>
			
			<td>
				<b><span id="editphone_label">{{ phone }}</span></b>
				<span>
					<input  id="editphone_input" type="text" class="form-control" placeholder="{{ phone }}">
				</span>
			</td>
			
			<td>
				<button id="editphone_button" type="button" class="btn btn-primary btn-sm pull-right">Edit Phone Number</button>
				<button style="margin-right:10px;" id="editphone_cancel" type="button" class="btn btn-danger btn-sm pull-right">Cancel</button>
			</td>
		</tr>
		
		<div id="chgpwd" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		
		    <!-- Modal content-->
		    <form id="chgpwd" action="" method=post>
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Change Password</h4>
			      </div>
			      <div class="modal-body">
					
						<span id="oldPwdLabel"><label for="pwd">Old Password:</label><span id="oldPwdStatus" style="margin-left:10px"></span></span>
					    <input type="password" class="form-control" id="oldpwd" name="oldpwd" onchange="oldPwdType($(this).val());" onkeyup="this.onchange();">
					
						<label for="newpwd1">New Password:</label>
					    <input disabled type="password" class="form-control" id="newpwd1" name="newpwd1">
					
						<span id="newPwdLabel"><label for="newpwd2">New Password Again:</label><span id="newPwdStatus" style="margin-left:10px"></span></span>
					    <input disabled type="password" class="form-control" id="newpwd2" name="newpwd2" onchange="newPwdType($(this).val());" onkeyup="this.onchange();">
						
			      </div>
			      <div class="modal-footer">
					  <button disabled id="changePassword" type="submit" name="changepassword" class="btn btn-primary">Change</button>
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			</form>
			
		  </div>
		</div>
		{% endif %}
		</table>


		<div class="card-deck">
			{%- for user in users %}
			
			
    <div class="card" style="width: 15rem;">
      <img class="card-img-top img-fluid" src="https://my.gcc.edu/icsfileservershare/icsphotos/{{ user.gccid }}.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">{{ user.fname}} {{ user.lname }}</h4>
        <p class="card-text"><small><a href="mailto:{{ user.email }}"> {{ user.email }}  </a><br>{{user.formatPhone()}}</small></p>
        <p class="card-text">
			{%- for tag in user.tags %}
							<span class="tag tag-primary"><i style="margin-right:5px" class="fa fa-{{ tag.fontawesomeicon }}"></i>{{ tag.title }}</span>
						{%- endfor %}
        </p>
      </div>
    </div>
  
  
  {%- endfor %}
	</div>

</div>
<script>
	var editingPhone = false;
	
	function hide_phone() {
		editingPhone = false;
		$('#editphone_input').hide();
		$('#editphone_cancel').hide();
		$('#editphone_label').show();
		$('#editphone_button').html('Edit Phone Number');
	}
	
	$(window).on('load',function(){ hide_phone() })
	
	$('#editphone_button').click( function() {
		if (editingPhone) {
			//CONFIRM
			socket.emit('changePhoneNumber',$('#editphone_input').val().replace(/[\D\s]/g,''));
			hide_phone();
		}
		else {
			// START EDITING PHONE
			editingPhone = true;
			$('#editphone_input').show();
			$('#editphone_cancel').show();
			$('#editphone_label').hide();
			$('#editphone_button').html('Confirm');
		}
	});
	
	$('#editphone_cancel').click( function() {
		hide_phone();
	});
	
	socket.on('phoneNumberChanged', function(message) {
		$('#editphone_label').html(message);
	});
	
	var oldPwdCorrect = false;
	
	function submitForm() {
		document.getElementById("myForm").submit();
	}
	
	function oldPwdType(text){
	  socket.emit("oldPwdType", text);
	}
	
	socket.on('pwdVerify', function(message) {
	    if (message) {
			document.getElementById("oldPwdStatus").setAttribute("class", "fa fa-check");
			document.getElementById("oldPwdLabel").setAttribute("class", "green");
			document.getElementById("newpwd1").removeAttribute("disabled");
			document.getElementById("newpwd2").removeAttribute("disabled");
			oldPwdCorrect = true;
		}
		else {
			document.getElementById("oldPwdStatus").setAttribute("class", "fa fa-times");
			document.getElementById("oldPwdLabel").setAttribute("class", "red");
			oldPwdCorrect = false;
		}
			
	});
	
	function newPwdType(text){
		if (document.getElementById("newpwd2").value == document.getElementById("newpwd1").value) {
			document.getElementById("newPwdStatus").setAttribute("class", "fa fa-check");
			document.getElementById("newPwdLabel").setAttribute("class", "green");
			if (oldPwdCorrect) {
				document.getElementById("changePassword").removeAttribute("disabled");
			} 
			
		}
		else {
			document.getElementById("newPwdStatus").setAttribute("class", "fa fa-times");
			document.getElementById("newPwdLabel").setAttribute("class", "red");
		}
	}
</script>
{% endblock %}
