{% extends "layout.html" %}
{% block body %}
<title>{{ todo.name }} - Media Services</title>
<form action="" method=post class="form-horizontal">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-lg-6">
					<h2><br><br>Edit "{{ todo.name }}"</h2>
					<label for="title">Name:</label>
					<input type="text" id="title" name="title" class="form-control" placeholder="Event name" value="{{ todo.name }}" required>
					<label for="location">Location:</label>
					<input type="text" id="location" name="location" class="form-control" placeholder="Event location" value="{{ todo.desc }}" required>
					<div class="date" id="date" data-provide="datepicker-inline" data-date-format="mm/dd/yyyy">
						<input type="hidden" name="date" class="form-control" value="{{ todo.date.strftime('%m/%d/%Y') }}">
					</div>
					<script>
						$('#date').datepicker({
						    startDate: '+d'
						})
					</script>
					<div class="bootstrap-timepicker timepicker">
						<label for="timepicker">Start Time:</label>
						<input name="time" value="{{ todo.date.strftime('%I:%M %p') }}" id="timepicker" class="form-control" data-provide="timepicker" data-template="false" type="text">
					</div>
					<div class="bootstrap-timepicker timepicker">
						<label for="timepicker2">End Time:</label>
						<input name="endtime" value="{{ todo.enddate.strftime('%I:%M %p') }}" id="timepicker2" class="form-control" data-provide="timepicker" data-template="false" type="text">
					</div>
					<label for="ntechs">Techs Needed:</label>
					<input id="ntechs" type="text" value="{{ todo.techsneeded }}" name="ntechs" required>
					<label for="comment">Extra Information:</label>
					<textarea class="form-control" rows="5" name="info" id="comment">{{ todo.info }}</textarea>
					<script>
						$("input[name='ntechs']").TouchSpin();
						
					</script>
					<br>
					<button name="submit" value="submit" type="submit" class="btn btn-primary">Update Event</button>
					<button name="submit" value="delete" type="submit" class="btn btn-danger">
					<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete
					</button>
					<a class="btn btn-default" href="{{ url_for('admin') }}">Cancel</a><br><br>
				</div>
				
		</div>
		<div class="form-group">
			<script type="text/javascript">
				$('#timepicker').timepicker({
				    showMeridian: true,
				});
				$('#timepicker2').timepicker({
				    showMeridian: true,
				});
			</script>
		</div>
<!--
	<div class="control-group">
		<div class="controls">
		</div>
	</div>
-->
	</div>
</form>
{% endblock %}
